button{
    background-color: tomato;
    height: 50px;
    border-radius:20%;
    width: 60px;
}
button:hover{
    background-color:white;
}
body{
    text-align: center;
    background-color: range(255, 200, 150);
}