
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(234, 250, 126);
  background-size: 400% 400%;
  animation: gradientBG 8s ease infinite;
}

.login-container {
  background: rgb(158, 243, 32);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 50px 8px 20px rgba(0,0,0,0.2);
  animation: fadeIn 1.5s ease;
}


.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.input-box label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #666;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #2575fc;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2575fc;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;

}

button:hover {
  background: #6a11cb;
  transform: scale(1.05);
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

